<footer class="bg-footer">
    <div class="container footer-row mt-auto  w-100">
        <div class="row">
            <div class="col-md-4 col-12 my-auto">
                <img src="assets/images/logoDark.png" class="w-75" alt="">
            </div>
            <div class="col-md-4 col-12">
                <h4 class="pb-2 border-bottom">GET TO KNOW US</h4>
                <ul class="navbar-nav">
                    <li><a [routerLink]="['/about']">About Us</a></li>
                    <li *ngFor="let p of policyList">
                        <a routerLink="/policy/{{ p.policy_id }}">{{ p.policy_name }}</a>
                    </li>
                    <!-- <li><a href="">Seller Policy</a></li>
                    <li><a href="">Buyer Policy</a></li>
                    <li><a href="">Cancellation Policy</a></li>
                    <li><a href="">Shipping & Refund Policy</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li> -->
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <h4 class="pb-2 border-bottom">Quick Links</h4>
                <ul class="navbar-nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Artists</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>